<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Global Parents Test Suite">
  <test thread-count="5" name="GP FirstTest">
    <classes>
      <class name="com.global.qa.testcases.LoginPageTest"/>
        <class name="com.global.qa.testcases.DashboardPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
